/* Reset*/

* {
    padding:0;
    margin: 0;
    box-sizing: border;
    border: 1px solid black;
}

/*body{
    display: grid;
    grid-template-columns: 250px 33% 33%;
}*/

p{
    border: 1px solid black;
}

/* To center content , set width -margin:0-auto*/
#container{
    
    width: 80%;
    margin:0 auto;
}

#navigation{

   margin-bottom:  10px;
    display: grid;
    grid-template-columns: 20% repeat(5, auto) 20%;
}

.moveForward{
    grid-column-start: 2;
}
a{
    text-align: center;
    height: 30px;
    border: 1px solid black;
}
a:hover{
    background-color:rgba(25, 52, 18, 0.225);
}
.centerText{
    text-align: center;
    padding: 10px 0;
}
#blog-container{

    display :grid;
    grid-template-columns: 67% auto;
    height: 300px;
    background-color: aqua;
}